/*navbar and navlink*/
.body,
.black-color,
.information,
.quotainer,
.aotchar,
.calltoaction{
    display: flex;
    flex-direction: column;
}
.navbar,
.section2,
.container,
.actiontime,
.navlinks{
    display: flex;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navlinks{
    display: flex;
}

body{
    margin: 0; /* for adding the background color fully and no white spaces*/
}

.navitem{
    padding: 10px 15px;
}
.black-color{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 100px;
   
}
.headerlogotext{
    font-size: 24px;
    color: #f9faf8;
}
.maintext{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    }
.awesome{
        font-size: 48px;
        font-weight: 800;
        color: #f9faf8;
    }
.subtext{
        font-size: 18px;
        color: #f9faf8;
    }
    /*THE INFORMATION SECTION COMES HERE */
.aotchar{
    width: 200px;
    height: 200px;
}
.title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 100px;
}
.info{
    max-width: 200px;
}
/* quote section */
.quotainer{
    background-color: #e5e7eb;
    padding: 200px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 100%;
    text-align: center;
}
.quoter{
    text-align: end;
    margin-right: 200px;
   
}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 20px;
}
/*sign up buttons*/
button{
    background-color: #3882f6;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 4px 2px;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}

ul{
    list-style-type: none;  /*removes bullets from list used in navbar*/
    
}

/* action time*/
.actiontime{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:5px;  
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 1000px;
    margin: 80px 150px 80px 150px;
}

.calltoaction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
}
.actionhead{
font-weight: 900;
font-size: 18px;
margin: 40px 0 0 0;
}
.actiontext{
    margin: 0 0 40px 0;
}

.foot{      /*the last signup button*/
    align-self: center;
    padding: 25px 5px 5px 25px;
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
}