/*navbar and navlink*/
.body,
.black-color,
.information,
.quotainer,
.aotchar,
.calltoaction{
    display: flex;
    flex-direction: column;
}
.navbar,
.section2,
.container,
.actiontime,
.navlinks{
    display: flex;
}
.placeholder{
    text-align: center;
    color:#F9FAF8;
    width:500px;
    height:200px;
    background-color: gray;
}

.placeholder p{
    margin:90px 0 0 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navlinks{
    gap:15px;
    margin-top:20px;
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;

}

body{
    margin:0px;
}

.section1,
.footer{ /*footer section color*/
background-color: #1F2937;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}

.info p{

    width:180px;
    text-align: center;   
}
body{
    margin: 0; /* for adding the background color fully and no white spaces*/
}

.navitem{
    padding: 10px 15px;
}
.black-color{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 100px;
   
}
.headerlogotext{
    font-size: 24px;
    color: #f9faf8;
}
.introtext{

 padding-bottom: 100px;
    width:470px;
}

.navbar{
    gap:450px;
}

.section1{
    align-items: center;
}


.navlogo{
    font-size: 24px;
    
    color:#F9FAF8;
}
.section2{
    gap:100px;
    align-items: center;
}
.infoheading{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    }
.subtext{
        font-size: 18px;
        color: #f9faf8;
    }
    /*THE INFORMATION SECTION COMES HERE */
.infohead{

    font-size:36px;
    font-weight: 900;
    color:#1F2937
}
    .aotchar{
    width: 200px;
    height: 200px;
}
.title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}
.text{
    height:200px;
    border-radius: 10px;
    width:200px;
}

.blue{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
}
/* quote section */
.quotainer{
    background-color: #e5e7eb;
    justify-content: center;
}

.quote{
    margin-top:200px;
    margin-bottom:auto;
    font-size: 36px;
    font-style:italic;
    font-weight:400;
    color:#1F2937
}
.quoter{
    flex-basis: 200px;
    padding-left:150px;

}

/*sign up buttons*/
button{
    background-color: #3882f6;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 4px 2px;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}

ul{
    list-style-type: none;  /*removes bullets from list used in navbar*/
    
}

/* action time*/
.actiontime{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:5px;  
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 1000px;
    margin: 80px 150px 80px 150px;
}

.calltoaction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
}
.actionhead{
font-weight: 900;
font-size: 18px;
margin: 40px 0 0 0;
}
.actiontext{
    margin: 0 0 40px 0;
}

.foot{      /*the last signup button*/
    align-self: center;
    padding: 25px 5px 5px 25px;
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
}